<!DOCTYPE html>
<html>
<head>
     <style>
        body {
            background-color: limegreen;
        }
    </style>
<title>Argument Provider</title>
</head>
<body>
<header>
  <a href="{% url 'render_arguments_by_topic_1' %}">TV vs. books</a>  |
  <a href="{% url 'render_arguments_by_topic_2' %}">Firefox vs. Internet Explorer</a> |
  <a href="{% url 'render_arguments_by_topic_3' %}">Plastic water ban</a>

</header>
<h1>Argument Provider</h1>
<p>Welcome! This site enables you to use the tool 'Argument Provider'. You
can choose arguments from a variety of topics and use them as ideas for creating your speech, or essay. </p>

</body>
</html>